[user]
	name = Justin Carr
	email = justin.carr@puppetlabs.com
[color]
	ui = auto
[alias]
        swag=fetch --all
        cff=merge --ff-only
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        flossy=add -u
